@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    text-shadow: none;
    font-family: 'Barlow Condensed', sans-serif;
}

header {
    background-color: rgba(28, 28, 28, 0.5);
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    margin-bottom: 1px;
    border-bottom: solid;
    height: 50px;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(237, 226, 241);
}


nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(28, 28, 28, 0.5);
    z-index: 1;
}

nav ul ul li {
    display: block;
}

nav ul ul li a {
    padding: 10px;
}

nav ul ul li:hover {
    background-color: rgba(28, 28, 28, 0.5);
}

a:link,
a:visited {
    color: rgb(237, 226, 241);
    text-decoration: none;
}



/* Mídia Queries */

/* Tamanhos de tela pequenos */
@media only screen and (max-width: 600px) {
    
        nav ul li {
            display: block;
            width: 100%;
        }
    
        nav ul ul {
            position: static;
            display: none;
        }
    
        nav ul ul li {
            display: none;
            width: 100%;
        }
    
        nav ul li:hover > ul {
            display: block;
        }
    
}

/* Tamanhos de tela médios */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    nav ul {
        font-size: 2.5vw;
        line-height: 10vw;
    }
}

/* Tamanhos de tela grandes */
@media only screen and (min-width: 1025px) {
    nav ul {
        font-size: 20px;
        line-height: 17px;
    }
}