@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    list-style: none;
    text-decoration: none;
    text-shadow: none;
    font-family: 'Barlow Condensed', sans-serif
}

body {
    background-color: rgba(84, 48, 84, 1);
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    font: normal;
    text-decoration: solid;
    color: rgb(237, 226, 241);
    margin: 10px auto;
}

.fundotitulo {
    background-image: url(./assets/images/home/backgroundmain.png);
    background-repeat: repeat;
    height: 264px;
    display: flex;
    justify-content: end;
    text-align: center;
}

.titulopadrao {
    background-color: #ffffff10;
    backdrop-filter: blur(10px);
    height: 300px;
    display: flex;
    font-size: 62px;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.gab {
    color: rgba(217, 217, 217, 1);
    font-weight: 700;
    font-size: 82px;
    line-height: 43px;
    width: 237px;
    height: 43px;
    padding-right: 90px;
    margin-top: 20px;
}
.sub{
    margin-top: 10px;
    font-size: 38px;
    margin-right: 30px;
}

.conteudo {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 10%;
    background-color: rgba(240, 248, 255, 0.075);
}
#hottpmdays{
    margin-top: 20px;
    background-image: url(./assets/style/images/sets/002.png);
    
}
#hyperpoison{
    margin-top: 40px;
    background-image: url(./assets/style/images/sets/001.png);
}
.texto {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: rgba(217, 217, 217, 1);
    width: 590px;
}
.texto2 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(217, 217, 217, 1);
}

.contrata {
    position: relative;
    margin-left: 25%;
}

button {
    background-color: rgba(128, 65, 151, 1);
    border-radius: 4px;
    border: none;
    font-size: 18px;
    margin-bottom: 20px;
    width: 200px;
    cursor: pointer;
    color: rgb(237, 226, 241);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
}

button:hover {
    background-color: rgba(129, 8, 241, 0.58);
}

.lancamentos {
    width: 470px;
    height: 336px;
    left: 855px;
    top: 467px;
    margin-right: 200px;
}

.soundcloud {
    font-size: 20px;
    color: #f34ddd;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
}

#divisao {
    display: inline-flex;
    flex-direction: column;
    row-gap: 10%;
}

.rodape {
    background-color: rgb(237, 226, 241);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    color: rgba(28, 28, 28, 1);
    padding: 2%;
    margin-top: 50px;
}
.album{
    border: solid #f34ddd;
    margin-left: 30%;
}

/* Mídia Queries */

/* Tamanhos de tela pequenos */
@media only screen and (max-width: 600px) {
    .gab {
        font-size: 38px;
    }
    h2{
        font-size: 28px;
    }
    p{
        font-size: 20px;
        margin-bottom: 2vw;
    }
    .titulopadrao {
        font-size: 30px;
    }
    .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .texto {
        width: 100%;
    }

    .contrata {
        margin-left: 15%;
    }

    .lancamentos {
        width: 100%;
        height: auto;
        margin-right: 0;
    }
    .titulopadrao{
        font-size: 24px;
        padding-top: 10%;
        padding-bottom: 10%;
        height: max-content;

    }
}

/* Tamanhos de tela médios */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .gab {
        margin-top: 2vw;
        font-size: 64px;
    }
    h2{
        font-size: 48px;
    }
    p{
        font-size: 40px;
        margin-bottom: 2vw;
    }
    .conteudo {
        justify-content: center;
    }

    .texto {
        width: 100%;
    }
    .titulopadrao{
        font-size: 34px;
        height: 20vw;
        padding-top: 10vw;
        justify-content: center;
    }
    .contrata{
        margin-left: 30%;
    }
    button {
        
        font-size: 28px;
        margin-bottom: 40px;
        width: 200px;
    }
    .segundo {
        visibility: hidden;
    }
}

/* Tamanhos de tela grandes */
@media only screen and (min-width: 1025px) {
    .conteudo {
        justify-content: space-between;
    }
}
