@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}
.locais{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}
.container{
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    
}
.container div:first-child, div:last-child {
   margin: 20px;
}

iframe {
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
    border: none;
}

@media only screen and (max-width: 600px) {
    .container {
        font-size: 14px;
    }
    .container div:first-child{
        display: none;
     }

    iframe {
        width: 30vw;
        height: 30vw;
        max-width: 100px;
        max-height: 100px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        font-size: 20px;
    }
    .container div:first-child, div:last-child {
        display: none;
     }

    iframe {
        width: 15vw;
        height: 15vw;
        max-width: 100px;
        max-height: 100px;
    }
}

@media only screen and (min-width: 1025px) {
    iframe {
        width: 150px;
        height: 150px;
        max-width: 100%;
        max-height: 100%;
    }
}